<mat-card>
  <mat-card-title>Atualizar Usuário</mat-card-title>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Primeiros dados</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="firstFormCtrl" [(ngModel)]="user.name" name="name"
            placeholder="Nome completo" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="firstFormCtrl" [(ngModel)]="user.email" name="email" placeholder="E-mail"
            required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>CPF (Apenas Números)</mat-label>
          <input matInput formControlName="firstFormCtrl" [(ngModel)]="user.cpf" name="cpf" placeholder="CPF" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Renda Principal (Apenas Números)</mat-label>
          <input matInput formControlName="firstFormCtrl" [(ngModel)]="user.renda" name="renda" placeholder="Renda"
            required>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Segundo dados</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput formControlName="secondFormCtrl" [(ngModel)]="user.dtNasc" mask="00/00/0000" name="dtNasc"
            placeholder="Data de Nascimento" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="secondFormCtrl" [(ngModel)]="user.phone" prefix="+55 " mask="(00) 00000-0000"
            name="phone" placeholder="Telefone" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Profissão</mat-label>
          <mat-select formControlName="secondFormCtrl" [(ngModel)]="user.job" name="job" placeholder="Profissão">
            <mat-option [value]="job" matInput *ngFor="let job of jobs">{{job}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button mat-raised-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Pronto!</ng-template>
      <p>Aperte para alterar!</p>
      <div>
        <button mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button (click)="updateUser()" color="accent">Alterar!</button>
      </div>
    </mat-step>
  </mat-stepper>

</mat-card>