form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    margin-right: 15px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
    margin-top: 16px;
  }

.mat-card-title {
    margin-left: 20px;
} 